{% extends 'Attendance/home_base.html' %}
{% block content_list %}
<div class="panel panel-success">
    <div class="panel-heading text-right">
        <h3 class="panel-title">
            <a href="{% url 'home' %}"><span class="glyphicon glyphicon-log-in"></span> 登录</a>
        </h3>
    </div>
    <div class="panel-body text-center">
        <h2>
            {% if error_body == '' %}
                未找到相关页面
            {% else %}
            {{error_body}}<br/>
            {% endif %}
        </h2>
    </div>
</div>
{% endblock content_list %}