{% extends 'Attendance/home_base.html' %}
{% block content_list %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title" id="criteria_title">
                考勤异常查询
            </h3>
        </div>
        <form class="text-center" id="query_attendance_form">
            <label for="start_date">开始日期</label>
            <input size="16" type="date" id="start_date" >
            <label for="end_date">结束日期</label>
            <input size="16" type="date" id="end_date">
            <button type="button" class="btn btn-default" id="query_attendance">查询</button>
            <span class="help-block">选择要查询考勤的起始日期和结束日期</span>
        </form>
        <div id="error_content" class="hidden h1 text-center"></div>
        <div id="attendance_content" class="hidden">
            <div>
                <span id="num_query"></span>
                <label id="content_filter_label">
                    <input type="checkbox" id="content_filter" checked="checked"> 只显示异常
                </label>
            </div>
            <table class="table table-striped table-condensed">
                <thead id="table_title">
                </thead>
                <tbody id="data_content_table">
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block bootstrap3_extra_script %}
    <script type="text/javascript" src="/static/jQuery/home.js">
    </script>
{% endblock %}